$index-color: #fd113a
$small-font: 12px
$middle-font: 18px
$large-font: 30px
$avatar-size: 80px
$w_1200: 1200px
$gray-span: gray
@mixin ellipsis ()
  text-overflow: ellipsis 
  white-space: nowrap
  overflow: hidden
@mixin moreEllipsis ()
  overflow: hidden
  text-overflow: ellipsis
  display: -webkit-box
  -webkit-line-clamp: 2
  -webkit-box-orient: vertical